*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Fira Mono', monospace;
  font-size: 16px;
  color: rgb(238, 255, 0);
  background-color: var(--bg-color);
  color: var(--font-color);
}

pre {
  text-align: center;
  color: rgb(187, 201, 0);
}

.content {
  max-width: 500px;
  margin: 20px auto;
}

.spiel__input,
.spiel__end {
  text-align: center;
}

.spiel__end {
  margin-top: 40px;
}

input {
  outline: none;
  border: none;
  margin: 0 0 20px 3px;
  padding: 8px 5px 0px 0;
  background: transparent;
  color: rgba(250, 250, 255, 1);
  font-size: 20px;
  border-bottom: 1px dotted rgba(91, 114, 127, 1);
}

button {
  background: transparent;
  border: 1px dashed rgba(250, 250, 255, 1);
  outline: none;
  cursor: pointer;
  color: rgba(250, 250, 255, 1);
  padding: 8px 30px 9px;
  font-size: 14px;
  text-transform: uppercase;
}
.top {
  display: flex;
  justify-content: space-between;
}

.content pre {
  display: flex;
  justify-content: center;
}

.gamearea {
  margin-top: 48px;
  text-align: center;
}

.gamearea p {
  color: rgb(255, 0, 0);
  margin: 36px;
}

.gamearea h2 {
  color: rgb(229, 255, 0);
}

.number {
  color: rgb(169, 172, 0);
}

#fehlerCounter {
  color: rgb(236, 0, 0);
}

/*LOADING */
.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: ' ';
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

:root {
  --primary-color: #ffffff;
  --secondary-color: rgba(114, 114, 114, 0.3);
  --font-color: #d9ff00;
  --bg-color: rgb(102, 102, 102);
}

[data-theme='dark'] {
  --primary-color: rgb(214, 214, 214);
  --secondary-color: rgba(54, 54, 54, 0.3);
  --font-color: rgb(0, 255, 0, 0.9);
  --bg-color: #161625;
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
}

.switcher-wrapper em {
  font-size: 1rem;
  margin-right: 10px;
}

.switcher-wrapper {
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
  align-items: center;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 80px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.5s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: '';
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.3s;
  width: 26px;
}

input:checked + .slider {
  background-color: #2ac43e;
}

input:checked + .slider:before {
  transform: translateX(45px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.loader {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#winner_pre_wrapper {
  top: 0;
  background-color: var(--bg-color);
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.winner_pre {
  text-align: start;
  display: inline-block;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
